<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>iKnow! OAuth example</title>
	
</head>

<body>

<div id="menu">
	[% IF c.session.access_token %]
		<p>Logged in. <a href="[% c.uri_for('/logout') %]">Log out ([% c.session.access_token.token %])</a></p>
	[% ELSE %]
		<p><a href="[% c.uri_for('/login') %]">Log in to iKnow!</a></p>
	[% END %]
</div>

<p id="flash_message">[% c.flash.message %]</p>
<p id="flash_error">[% c.flash.error %]</p>

[% content %]

</body>
</html>
