
body {
	margin: 0;
	padding: 0;
	color: #222;
}

a, a:hover, a:visited {
	color: #11539F;
}

.header {
	background: url('/images/quizlet_bg.jpg');
	height: 78px;
	margin: 0 0 1em 0;
	color: #fff;
	text-shadow: 2px 2px 2px #fff;
	padding: 0 1em 0 1em;
}

.header h1 {
  margin: 0;
	font-size: 1.9em;
	font-family: "Times";
	line-height: 1.8;
	letter-spacing: 1px;
}

h2 {
	margin: 0 0 0.8em 0;
	padding: 0;
	font-size: 1.3em;
}

.header span {
	font-size: 0.8em;
	line-height: 0;
}

.new {
	margin: 1em 2em 1em 500px;
	background-color: #F4EBE4;
	-moz-border-radius: 10px;
	padding: 1em;
}

.new p small {
	font-style: italic;
}

.new label {
	display: block;
}

.new input {
	display: block;
}

.clear {
	clear: both;
}

label.required {
	font-weight: bold;
}

.recent {
	float: left;
	margin: 1em 0 1em 1em;
}

.recent ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.recent li {
	float: left;
	clear: both;
  margin: 0 0 1em 0;
}

.recent li small {
	display: block;	
}

.recent a.launch {
	float: left;
}

.recent a.launch {
	display: block;
	margin: 0 10px 0 0;
  background: transparent url(http://www.iknow.co.jp/images/app_buttons.gif) no-repeat scroll 10px 0;
  width: 38px;
  text-indent: -3000px;
  text-decoration: 13px 0;
	padding: 13px 0;
	font-size: 10px;
  background-position: 0 0;
}

.recent li div {
	float: left;
}

.recent a.launch:hover {
  background-position: 0 -50px;
}