<h2>The ten most recent items on iKnow!</h2>

<ul>
[% FOREACH item IN c.stash.items %]
	<li>
		[% item.cue.text %] ([% item.cue.language %]) <a href="[% c.uri_for('/sentences/create', {'item_id' => item.id}) %]">Add sentence</a>
		<ul>
			[% FOREACH response IN item.responses %]
				<li>[% response.text %] ([% response.language %])</li>
			[% END %]
		</ul>
	</li>
[% END %]
</ul>